<%-include('../Includes/header.ejs') %>
<link rel="stylesheet" href="/CSS/checkout.css">
<title><%=title%></title>
</head>

<%-include('../Includes/preloader.ejs') %>
<%-include('../Includes/nav.ejs') %>
<div class="row">
  <div class="col-75">
    <div class="container">
      <form action="/place-order" method="POST">

        <div class="row">
          <div class="col-50">
            <h3>Billing Address</h3>
            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
            <input type="text" id="fname" name="name" value="<%=user.first_name%> <%=user.last_name%>">
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="email" id="email" name="email" value="<%=user.email%>" readonly>
            <label for="phn"><i class="fas fa-mobile-alt"></i> Phone No.</label>
            <input type="tel" id="phn" name="phn" placeholder="Your Phone No." required>
            <label for="adr"><i class="fa fa-address-card"></i> Address</label>
            <input type="text" id="adr" name="address" placeholder="Your Address">
            <label for="city"><i class="fa fa-city"></i> City</label>
            <input type="text" id="city" name="city" placeholder="Your City" required>

            <div class="row">
              <div class="col-50">
                <label for="state">State</label>
                <input type="text" id="state" name="state" placeholder="Your State" required>
              </div>
              <div class="col-50">
                <label for="zip">Zip</label>
                <input type="number" id="zip" name="zip" placeholder="Your Pin" required>
              </div>
            </div>
          </div>

          <div class="col-50">
            <h3>Payment Mode</h3>
            <div class="icon-container">
              <input type="radio" name="Card" id="" disabled>
              <small> Card (Debit / Credit)</small> <br>
              <input type="radio" name="COD" id="" checked>
              <small> Cash on Delivery</small> <br>
              <input type="radio" name="UPI" id="" disabled>
              <small> BHIM UPI (GPay, PaYtm, Phonepe)</small><br>
              <input type="radio" name="wallet" id="" disabled>
              <small> Wallet (PaYtm, Phonepe)</small>
            </div>
          </div>

        </div>
        <label>
          <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
        </label>
        <input type="hidden" name="total" id="" value="<%=total%>">
        <input type="hidden" name="_csrf" value="<%=csrf%>">
        <input type="submit" value="&emsp;&emsp;&emsp;&emsp;Place Order&emsp;&emsp;&emsp;&emsp;" class="btn">
      </form>
    </div>
  </div>

  <div class="col-25">
    <div class="container">
      <h4>Cart
        <span class="price" style="color:black">
          <i class="fa fa-shopping-cart"></i><sup>
          <b><%= products.length %></b></sup>
        </span>
      </h4>
      <% if (products.length > 0) { 
        let price=0;
        let amount=0;%>
      <% for(let p of products) { %>
        <%price=p.quantity*p.products.prod_price%>
      <p title="<%= p.products.prod_name %>"><small><a href="/details/<%=p.products._id%>"><%= p.products.prod_name %>&ensp;(<%=p.quantity%>)</a></small> <span class="price"><i class="fa fa-inr"></i> <%=price %></span></p>
      <% } %>
            <br>
              <hr>
      <p>Total <span class="price" style="color:black"><b><i class="fa fa-inr"></i><%=total%></b></span></p>
    </div>
    <% } else { %>
      <h1 align="center">Empty Cart!</h1>
      <br><br>
      <h2 align="center"><a href="/">Continue Shopping</a></h2>
  <% } %>
  </div>
</div>
<%-include('../Includes/footer.ejs') %>