<%-include('../Includes/header.ejs') %>
<link rel="stylesheet" href="/CSS/contactus.css">
<title><%=title%></title>
</head>

<%-include('../Includes/preloader.ejs') %>
<%-include('../Includes/nav.ejs') %>
  <div class="container">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">Ichapur Dakshinpara Santragachi</div>
          <div class="text-two">Howrah- 711104</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">+91 7278351878</div>
          <div class="text-two">+91 8240549254</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">arnab.gupta1878@gmail.com</div>
          <div class="text-two"></div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Send us a message</div>
        <p>If you have face any problem with this website or purchase any product, you can send me message from here. It's my pleasure to help you.</p>
      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Enter your name">
        </div>
        <div class="input-box">
          <input type="text" placeholder="Enter your email">
        </div>
        <div class="input-box message-box">
        </div>
        <div class="button">
          <input type="button" value="Send Now" >
          
        </div>
      </form>
    </div>
    </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3959.5586326698503!2d88.30765784489691!3d22.588654993289797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x75463d8515c9b8b0!2sIchapur%20Shivaji%20Sangha!5e0!3m2!1sen!2sin!4v1633937670259!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
  <%-include('../Includes/footer.ejs') %>
